@model List<ReservationSystem.DTV.RoomDTV>
@{
    ViewBag.Title = "Rooms";
}

<div class="row" style="margin-top: 20px;">
    <div class="col-md-4">
        <div class="row">
            <div class="col-lg-12">
                <div class="input-group">
                    <input id="Name" type="text" class="form-control" placeholder="ابحث عن">
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
            <hr />
            <br />

            <div class="col-md-12">
                @Html.DropDownList("RoomTypes", "نوع الغرفة")
            </div>
            <hr />
            <br />
            <div class="col-md-12">
                @Html.DropDownList("Floor", "الدور")
            </div>
            <hr />
            <br />
            <div class="col-md-12">
                <button id="filter" type="button" class="btn btn-default">ابحث</button>

            </div>
        </div>
    </div>
    <div id="listing" class="col-md-8">
        @Html.Partial("~/Views/Room/_Listing.cshtml", Model)
    </div>
</div>




<script>
    $('#filter').click(function () {
        var data = {
            Floor: $('#Floor').val(),
            Type: $('#RoomTypes').val(),
            Name: $('#Name').val()
        }
        $.ajax({
            type: "GET",
            url: '@Url.Action("Filter","Room")',
            data: data,
            dataType: "json",
            contentType: 'application/json; charset=utf-8', 
            success: function (result) {
                de
                $('#listing').html(result.list)
            },

        })

    })

</script>
