@{
    ViewBag.Title = "Receipt";
    Layout = null;
}

<h2>Receipt</h2>

<head>

    @*<link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
              integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
              crossorigin="anonymous" />
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
                integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
                crossorigin="anonymous"></script>*@

    <style>
        span:not(.span-ar) {
            font-style: italic;
            font-weight: bold;
            direction: ltr;
        }

        span.span-ar {
        }

        .bordered {
            border: 1px solid darkblue !important;
            padding: 4px;
            border-radius: 4px;
        }

        .dotted {
            border-bottom: 2px dotted darkblue !important;
        }

            .dotted::before {
                content: ': ';
            }

        .d-flex {
            display: -ms-flexbox !important;
            display: flex !important;
        }

        .flex-column {
            -ms-flex-direction: column !important;
            flex-direction: column !important;
        }

        .row {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: row;
            flex-direction: row;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-right: 0;
            margin-left: 0;
        }

        .justify-content-start {
            -ms-flex-pack: start !important;
            justify-content: flex-start !important;
        }

        .justify-content-end {
            -ms-flex-pack: end !important;
            justify-content: flex-end !important;
        }

        .justify-content-center {
            -ms-flex-pack: center !important;
            justify-content: center !important;
        }

        .justify-content-between {
            -ms-flex-pack: justify !important;
            justify-content: space-between !important;
        }

        .justify-content-around {
            -ms-flex-pack: distribute !important;
            justify-content: space-around !important;
        }

        .align-items-start {
            -ms-flex-align: start !important;
            align-items: flex-start !important;
        }

        .align-items-end {
            -ms-flex-align: end !important;
            align-items: flex-end !important;
        }

        .align-items-center {
            -ms-flex-align: center !important;
            align-items: center !important;
        }

        .align-items-baseline {
            -ms-flex-align: baseline !important;
            align-items: baseline !important;
        }

        .align-items-stretch {
            -ms-flex-align: stretch !important;
            align-items: stretch !important;
        }

        .m-0 {
            margin: 0 !important;
        }

        .mt-0,
        .my-0 {
            margin-top: 0 !important;
        }

        .mr-0,
        .mx-0 {
            margin-right: 0 !important;
        }

        .mb-0,
        .my-0 {
            margin-bottom: 0 !important;
        }

        .ml-0,
        .mx-0 {
            margin-left: 0 !important;
        }

        .m-1 {
            margin: 4px !important;
        }

        .mt-1,
        .my-1 {
            margin-top: 4px !important;
        }

        .mr-1,
        .mx-1 {
            margin-right: 4px !important;
        }

        .mb-1,
        .my-1 {
            margin-bottom: 4px !important;
        }

        .ml-1,
        .mx-1 {
            margin-left: 4px !important;
        }

        .m-2 {
            margin: 8px !important;
        }

        .mt-2,
        .my-2 {
            margin-top: 8px !important;
        }

        .mr-2,
        .mx-2 {
            margin-right: 8px !important;
        }

        .mb-2,
        .my-2 {
            margin-bottom: 8px !important;
        }

        .ml-2,
        .mx-2 {
            margin-left: 8px !important;
        }

        .m-3 {
            margin: 16px !important;
        }

        .mt-3,
        .my-3 {
            margin-top: 16px !important;
        }

        .mr-3,
        .mx-3 {
            margin-right: 16px !important;
        }

        .mb-3,
        .my-3 {
            margin-bottom: 16px !important;
        }

        .ml-3,
        .mx-3 {
            margin-left: 16px !important;
        }

        .m-4 {
            margin: 24px !important;
        }

        .mt-4,
        .my-4 {
            margin-top: 24px !important;
        }

        .mr-4,
        .mx-4 {
            margin-right: 24px !important;
        }

        .mb-4,
        .my-4 {
            margin-bottom: 24px !important;
        }

        .ml-4,
        .mx-4 {
            margin-left: 24px !important;
        }

        .m-5 {
            margin: 48px !important;
        }

        .mt-5,
        .my-5 {
            margin-top: 48px !important;
        }

        .mr-5,
        .mx-5 {
            margin-right: 48px !important;
        }

        .mb-5,
        .my-5 {
            margin-bottom: 48px !important;
        }

        .ml-5,
        .mx-5 {
            margin-left: 48px !important;
        }

        .p-0 {
            padding: 0 !important;
        }

        .pt-0,
        .py-0 {
            padding-top: 0 !important;
        }

        .pr-0,
        .px-0 {
            padding-right: 0 !important;
        }

        .pb-0,
        .py-0 {
            padding-bottom: 0 !important;
        }

        .pl-0,
        .px-0 {
            padding-left: 0 !important;
        }

        .p-1 {
            padding: 4px !important;
        }

        .pt-1,
        .py-1 {
            padding-top: 4px !important;
        }

        .pr-1,
        .px-1 {
            padding-right: 4px !important;
        }

        .pb-1,
        .py-1 {
            padding-bottom: 4px !important;
        }

        .pl-1,
        .px-1 {
            padding-left: 4px !important;
        }

        .p-2 {
            padding: 8px !important;
        }

        .pt-2,
        .py-2 {
            padding-top: 8px !important;
        }

        .pr-2,
        .px-2 {
            padding-right: 8px !important;
        }

        .pb-2,
        .py-2 {
            padding-bottom: 8px !important;
        }

        .pl-2,
        .px-2 {
            padding-left: 8px !important;
        }

        .p-3 {
            padding: 16px !important;
        }

        .pt-3,
        .py-3 {
            padding-top: 16px !important;
        }

        .pr-3,
        .px-3 {
            padding-right: 16px !important;
        }

        .pb-3,
        .py-3 {
            padding-bottom: 16px !important;
        }

        .pl-3,
        .px-3 {
            padding-left: 16px !important;
        }

        .p-4 {
            padding: 24px !important;
        }

        .pt-4,
        .py-4 {
            padding-top: 24px !important;
        }

        .pr-4,
        .px-4 {
            padding-right: 24px !important;
        }

        .pb-4,
        .py-4 {
            padding-bottom: 24px !important;
        }

        .pl-4,
        .px-4 {
            padding-left: 24px !important;
        }

        .p-5 {
            padding: 48px !important;
        }

        .pt-5,
        .py-5 {
            padding-top: 48px !important;
        }

        .pr-5,
        .px-5 {
            padding-right: 48px !important;
        }

        .pb-5,
        .py-5 {
            padding-bottom: 48px !important;
        }

        .pl-5,
        .px-5 {
            padding-left: 48px !important;
        }

        .col-1 {
            -ms-flex: 0 0 8.333333%;
            flex: 0 0 8.333333%;
            max-width: 8.333333%;
        }

        .col-2 {
            -ms-flex: 0 0 16.666667%;
            flex: 0 0 16.666667%;
            max-width: 16.666667%;
        }

        .col-3 {
            -ms-flex: 0 0 25%;
            flex: 0 0 25%;
            max-width: 25%;
        }

        .col-4 {
            -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
        }

        .col-5 {
            -ms-flex: 0 0 41.666667%;
            flex: 0 0 41.666667%;
            max-width: 41.666667%;
        }

        .col-6 {
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
        }

        .col-7 {
            -ms-flex: 0 0 58.333333%;
            flex: 0 0 58.333333%;
            max-width: 58.333333%;
        }

        .col-8 {
            -ms-flex: 0 0 66.666667%;
            flex: 0 0 66.666667%;
            max-width: 66.666667%;
        }

        .col-9 {
            -ms-flex: 0 0 75%;
            flex: 0 0 75%;
            max-width: 75%;
        }

        .col-10 {
            -ms-flex: 0 0 83.333333%;
            flex: 0 0 83.333333%;
            max-width: 83.333333%;
        }

        .col-11 {
            -ms-flex: 0 0 91.666667%;
            flex: 0 0 91.666667%;
            max-width: 91.666667%;
        }

        .col-12 {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }

        .row > div {
            margin-right: 8px;
            margin-left: 8px;
        }

        .row > span {
            margin-right: 4px;
            margin-left: 4px;
        }

        .row > input {
            margin-right: 2px;
            margin-left: 2px;
        }

        .info-row > span,
        .info-row > div,
        .info-row > div > span {
            margin: 0;
            padding: 0;
        }

            .info-row > span:not(.span-ar):not(.dotted)::after,
            .info-row > div > span:not(.span-ar):not(.dotted)::after {
                content: ' :';
            }

            .info-row > .span-ar,
            .info-row > div > .span-ar {
                text-align: initial;
            }

        .info-col > br,
        .info-col > div > br {
            line-height: 1;
        }

        input:disabled {
            background: white;
        }
    </style>
</head>
<body style="padding: 1rem; color: darkblue; direction: rtl;">
    <!-- Fixed Postion Logo Image -->
    <img src="D:\Projects\.NET\ReservationSystem\ReservationSystem\Content\images\logo.png"
         alt="logo.png"
         style="max-height: 100px; position: absolute; left: 1rem;" />

    <div class="d-flex flex-column align-items-center">
        <span style="font-size: large;">International Medical Center IMC</span>
        <span style="font-size: small;">Hotel Management Dept.</span>
        <br style="line-height: 1;" />
        <span>Guest Registration Card</span>
        <span class="span-ar">البيانات الشخصية لحجز الغرفة / الجناح</span>
    </div>

    <br />

    <div class="d-flex flex-column align-items-center">
        <div class="row justify-content-start">
            <div class="row justify-content-center">
                <span class="span-ar bordered">رقم الغرفة/الجناح</span>
                <input id="room-num-1" class="bordered" type="text" style="max-width: 48px;" disabled />
                <input id="room-num-2" class="bordered" type="text" style="max-width: 48px;" disabled />
                <span class="bordered">Room No.</span>
            </div>
            <div class="row justify-content-center">
                <span class="span-ar bordered">تاريخ الوصول</span>
                <input id="arrival-date" class="bordered" type="text" style="max-width: 160px;" disabled />
                <span class="bordered" style="padding: 4px 16.8px;">Arrival Date</span>
            </div>
        </div>
    </div>

    <div class="d-flex flex-column align-items-center mt-2">
        <div class="row justify-content-start">
            <div class="row justify-content-center">
                <span class="span-ar bordered" style="padding: 4px 44px;">الدور</span>
                <input id="floor-num-1" class="bordered" type="text" style="max-width: 48px;" disabled />
                <input id="floor-num-2" class="bordered" type="text" style="max-width: 48px;" disabled />
                <span class="bordered" style="padding: 4px 6px;">Floor No.</span>
            </div>
            <div class="row justify-content-center">
                <span class="span-ar bordered">تاريخ المغادرة</span>
                <input id="departure-date" class="bordered" type="text" style="max-width: 160px;" disabled />
                <span class="bordered">Departure Date</span>
            </div>
        </div>
    </div>

    <br />

    <div class="info-col">
        <div class="row justify-content-between info-row">
            <span class="span-ar col-2">الاسم رباعي</span>
            <span id="name" class="span-ar dotted col-8">باشمهندس أحمد الأزهري</span>
            <span class="col-2">Name</span>
        </div>
        <br />
        <div class="row justify-content-between info-row">
            <span class="span-ar col-2">الرقم القومي / جواز السفر</span>
            <span id="id_passport-num" class="span-ar dotted col-8">30251512</span>
            <span class="col-2">Passport No.</span>
        </div>
        <br />
        <div class="row justify-content-between info-row">
            <span class="span-ar col-2">عنوان السكن</span>
            <span id="address" class="span-ar dotted col-8">مدينة المستقبل</span>
            <span class="col-2">Home Address</span>
        </div>
        <br />
        <div class="row justify-content-between info-row">
            <span class="span-ar col-2">الوظيفة / المهنة</span>
            <span id="job" class="span-ar dotted col-8">مهندس برمجيات</span>
            <span class="col-2">Profession</span>
        </div>
        <br />
        <div class="row justify-content-between info-row">
            <span class="span-ar col-2">اسم جهة العمل</span>
            <span id="company" class="span-ar dotted col-8">مش عارف</span>
            <span class="col-2">Company / Agent</span>
        </div>
        <br />
        <div class="row info-row justify-content-between">
            <div class="d-flex col-8">
                <span class="span-ar col-3">الجنسية</span>
                <span id="nationality" class="span-ar dotted col-6">للأسف مصري والحمد لله على كل شيء</span>
                <span class="col-3">Nationality</span>
            </div>
            <div class="d-flex" style="width: calc(33.333% - 16px);">
                <span class="span-ar" style="width: 192px;">سبب التواجد بالفندق</span>
                <span id="reason" class="span-ar dotted" style="width: 240px;">حكمة ربنا</span>
            </div>
        </div>
        <br />
        <div class="row info-row justify-content-between">
            <div class="d-flex col-8">
                <span class="span-ar col-3">تاريخ الميلاد</span>
                <span id="birthdate" class="span-ar dotted col-6">الله أعلم</span>
                <span class="col-3">Date of Birth</span>
            </div>
            <div class="d-flex" style="width: calc(33.333% - 16px);">
                <span class="span-ar" style="width: 256px;">غرفة المريض التابع لها</span>
                <span id="patient-room" class="span-ar dotted" style="width: 240px;">مافيش</span>
            </div>
        </div>
        <br />
        <div class="row info-row justify-content-between">
            <div class="d-flex col-8">
                <span class="span-ar col-3">الرقم البريدي</span>
                <span id="postal-code" class="span-ar dotted col-6">201547</span>
                <span class="col-3">Postal Code</span>
            </div>
            <div class="d-flex" style="width: calc(33.333% - 16px);">
                <span class="span-ar" style="width: 192px;">اسم الطبيب المعالج</span>
                <span id="doctor-name" class="span-ar dotted" style="width: 240px;">مافيش</span>
            </div>
        </div>
        <br />
        <div class="row info-row justify-content-between">
            <div class="d-flex col-8">
                <span class="span-ar col-3">رقم التليفون</span>
                <span id="telephone" class="span-ar dotted col-6">01148631054</span>
                <span class="col-3">Telephone No.</span>
            </div>
        </div>
        <br />
        <div class="row info-row justify-content-between">
            <div class="d-flex col-8">
                <span class="span-ar col-3">الجهة القادم منها</span>
                <span id="arriving-from" class="span-ar dotted col-6">الله أعلم</span>
                <span class="col-3">Arriving From</span>
            </div>
        </div>
    </div>

    <!-- <br>

      <div class="row justify-content-center">
        طلبات إضافية تضاف إلى الفاتورة: سرير مرافق / خدمة الإنترنت / خط تليفون خارجي / وجبات يومية(إفطار/غذاء/عشاء) / خدمة الغسيل والكي ...................................................................... إلخ
      </div> -->

    <br />
    <div class="row justify-content-between info-row">
        <span class="span-ar col-2">المبلغ المدفوع مقدماً</span>
        <span id="cash" class="span-ar dotted col-8">25 مليون دولار نقداً</span>
        <span class="col-2">Cash</span>
    </div>

    <br />
    <br />
    <div class="row justify-content-around">
        <div class="d-flex flex-column col-3 align-items-center">
            <span class="span-ar" style="font-size: large;">التوقيع</span>
            <span class="span-ar" style="font-size: large;">.................................................</span>
        </div>
        <div class="d-flex flex-column col-3 align-items-center">
            <span style="font-size: large;">Signature</span>
            <span class="span-ar" style="font-size: large;">.................................................</span>
        </div>
    </div>

    <br />
    <br />
    <div class="row justify-content-between">
        <div class="col-5" dir="rtl" style="text-align: initial;">
            <span class="span-ar">تاريخ اليوم:&nbsp;</span>
            <span id="date-ar" class="span-ar">04-07-2020</span>
            <!-- <span class="span-ar" style="direction: ltr;">04-07-2020</span> -->
        </div>
        <div class="col-5" dir="ltr">
            <span class="span-ar">Date: </span>
            <span id="date-en" class="span-ar">04-07-2020</span>
        </div>
    </div>
</body>

